@import "rsuite/dist/rsuite.css";

#root {
  padding: 10px;
}

.text {
  text-overflow: ellipsis;
  margin-bottom: 12px;
  cursor: pointer;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.custom-card {
  display: "inline-block";
  margin: 20px !important;
  width: 240px;
  max-width: 240px;
  transition: box-shadow 0.3s ease;
}

.custom-card:hover {
  box-shadow: 0 0 10px rgb(56, 156, 252);
}

.rs-panel-title {
  text-overflow: ellipsis !important;
}

.card-image {
  cursor: pointer;
  height: 300px !important;
  width: 240px !important;
}
