@import "rsuite/dist/rsuite.css";

#root{ padding: 10px; }

.card-holder-div {
    justify-content: center;
    justify-items: center;
    align-self: center;
    text-align: center;
    display:"-ms-flexbox";
    gap: "16px";
    grid-template-columns:"repeat(auto-fill, minmax(240, 1fr))" ;
    padding-bottom: 60px;
}

.pagination-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border-top: 1px solid #ccc;
    width: 100%;
    text-align: center;
  }


  .general-holder-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width:70%;
  }